* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.land {
  letter-spacing: 20px;
  font-weight: lighter;
}

.row {
  margin-top: 0%;
}

i.fas,
  i.fab {
    color: black;
    padding: 6px;
  }

  i.fas,i.fab:hover {
      color: #F7F7F7;
      padding: 6px;
    }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 2vh;
  background-color: #000;
}

.logo {
  color: white;
  letter-spacing: 5px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  width: 48%;
}

.nav-links li{
  display: inline-block;
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 14px;
  padding-left: 60px;
  padding-right: 0px;
}

.nav-links a:hover{
  background-color:#F7F7F7;
  color: black;
  padding-left: 60px;
  padding-right: 0px;
}

.line::after {
  content: '';
  display: block;
  width: 0;
  height: 15px;
  background: #F7F7F7;
  transition: width 1s;

}

.line:hover::after {
  width: 100%;
  transistion: width 12s;

}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 1px;
  background-color: white;
  margin-bottom: 8px;
  transition: all 0.2s ease;
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }

#about h2{margin-top: 5%;margin-bottom: 5%; text-align: center; width: 100%;}

  .nav-links{
    position: absolute;
      right: 0px;
      height: 100%;
      top: 11vh;
      background-color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }

}

.nav-active{
    transform: translateX(0);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
transform: rotate(30deg) translate(0px, 3px);
}
.toggle .line2{
transform: rotate(-0deg) translate(30px, 10px);
}
.toggle .line3{
transform: rotate(-30deg) translate(0px, -3px);
}

#about h2{margin-top: 5%;margin-bottom: 8%;z-index: -1;}
img {
width: 100%;
padding: 10px;
margin-top: 15%;
position: relative;
}

ul.nav-links.nav-active {
  z-index: 1111;
}

ul.filters{
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 0;
}

ul.filters > li{
  list-style: none;
  display: inline-block;
}

ul.filters > li > a{
  display: block;
  color: #434e5e;
  text-decoration: none;
  padding: 5px 20px;
}

ul.filters > li > a:hover{
  background-color: #e6e9ed;
}

ul.filters > li.active > a{
  color: #fff;
  background-color: #000;
}

.cards {
  grid-column: 2 /span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #999;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card_image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card_image-container img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_content {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .card{
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card{
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(0, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards{
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card{
    grid-column-end: span 6;
  }
}
